node_modules/
ng-src/node_modules/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# IDEs and editors
ng-src/.idea
ng-src/.project
ng-src/.classpath
ng-src/.c9/
ng-src/*.launch
ng-src/.settings/
ng-src/*.sublime-workspace

# IDE - VSCode
ng-src/.vscode/*
ng-src/!.vscode/settings.json
ng-src/!.vscode/tasks.json
ng-src/!.vscode/launch.json
ng-src/!.vscode/extensions.json

# misc
ng-src//.sass-cache
ng-src/connect.lock
ng-src/coverage
ng-src/libpeerconnection.log
ng-src/npm-debug.log
ng-src/testem.log
ng-src/typings

# e2e
ng-src/e2e/*.js
ng-src/e2e/*.map

# System Files
ng-src/.DS_Store
ng-src/Thumbs.db
